* {
    margin: 0;
    padding: 0;
}

.navbar {
    padding-top: 3vw;
    padding-right: 3vw;
    padding-left: 3vw;
    display: flex;
    justify-content: space-between;
}

[alt="logo"] {
    height: 3vh;
}

[alt="hambur"] {
    height: 4vh;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: .5;
    background-image: url(https://res.cloudinary.com/dujv8dius/image/upload/v1761191073/66715374842d0c58e4188a2a_Nomadic_20Road_20Banner_20et_20Cover-p-2000_vyzvgn.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-position: center;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subheading {
    color: white;
    font-size: 3rem;
}

.maincontent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.template {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-top: 2vw;
}

.template1 {
    background-image: url(https://res.cloudinary.com/dujv8dius/image/upload/v1761213708/66c22cf30d91aa5e88f3f4a8_7_gpv9cy.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 30vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw;
}

.template1:hover{
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.template2 {
    background-image: url(https://res.cloudinary.com/dujv8dius/image/upload/v1761213724/6711387de75a1981853b6923_Capture_20d_E2_80_99e_CC_81cran_202024-10-17_20a_CC_80_2018.16.51_s8xhkb.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 30vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw;
}

.template2:hover{
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.font {
    color: white;
    font-size: 1.3rem;
}

[alt="123"] {
    height: 2vh;
}

.discover {
    display: flex;
    gap: 1.1vw;
    align-items: center;
    color: white;

}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextpage {
    height: 6vh;
    width: 12vw;
    background-color: black;
    border-radius: 6vw;
    color: white;
    display: flex;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-top: 1.2vw;
    gap: 1.5vw;
}

[href="index4.html"]{
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}
