body{
    background-color: black;
    padding-left: 2vw;
    padding-top: 2vw;
}

.red{
    height: 20vh;
    width: 20vw;
    background-color: red;
}
.green{
    height: 20vh;
    width: 20vw;
    background-color: green;
}
.blue{
    height: 20vh;
    width: 20vw;
    background-color: blue;
}

.main{
    display: flex;
    gap: 2vw;
    align-items: center;
    border: 2px solid yellow;
    width: 40vw;
}

button{
    height: 5vh;
    width: 5vw;
    border-radius: 1.2vw;
}

