# Heavy Dependencies
node_modules/
jspm_packages/

# Build outputs
dist/
dist-ssr/
build/
out/
.vercel

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment / Secret files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# IDE / Editor folders
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings/

# OS Specific
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Testing
coverage/

# Misc
.cache/
.eslintcache
.stylelintcache
node_repl_history
