* {
    margin: 0;
    padding: 0;
}

.container {
    /* height: 140vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003466;
    color: #CCE1FF;
    gap: 1vw;
}

.ans{
    height: 6vh;
    width: 8vw;
    background-color: #007ACD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
}

.convert-btn{
    height: 5vh;
    width: 5vw;
    background-color: #CCE1FF;
    color: #003466;
}

.select{
    height: 5vh;
    width:5vw;
    background-color: #CCE1FF;
    color: #003466;
}

.data{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 2vw;
}

.country{
    height: 5vh;
    width: 8vw;
    font-size: 1.2rem;
    border: 2px solid #007ACD;
    background-color: #007ACD;
    color: #CCE1FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
}